<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{{ name }}</title>
</head>
<body>
    <div class="container">
        <div class="row pt-5">
            <div class="col-4 border-right" >
                <img class="rounded float-right" src="https://i.imgur.com/YyReJfj.jpg" style="object-fit: cover; object-position: 100% 50%" width="144" height="256" />
            </div>
            <div class="col-6 border-left">
                    <h1>{{ name }}</h1>
                <h3 class="font-italic">{{ npm }}</h3>
                <br/>
                <article>It's me! I am {{ age }} years old. 
                    I am a computer science student in the Faculty of Computer Science, University of Indonesia. 
                    Playing musical instruments and playing games are what I usually do in my free time.</article>
            </div> 
        </div>
        <div class="row pt-5">
            <div class="col-4 border-right" >
                <img class="rounded float-right" src="https://i.imgur.com/aNyDyDY.jpg" style="object-fit: cover; object-position: 100% 50%" width="144" height="256" />
            </div>
            <div class="col-6 border-left">
                    <h1>Muhamad Ilman Nafian</h1>
                <h3 class="font-italic">1706067626</h3>
                <br/>
                <article>He is my friend. Currently, he is also studying at Faculty of Computer Science at University of
                    Indonesia. His NPM is quite unique because theres many 6s in there. His day to day activity are
                    playing games, watching videos online, and sometimes browse Reddit.</article>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-4 border-right" >
                <img class="rounded float-right" src="https://i.imgur.com/xGUymtx.jpg" style="object-fit: cover; object-position: 50% 50%" width="144" height="256" />
            </div>
            <div class="col-6 border-left">
                    <h1>Michael Sudirman</h1>
                <h3 class="font-italic">1706020300</h3>
                <br/>
                <article>He is also another friend of mine. Playing games and watching Youtube are his hobbies.
                     He is a computer science student in Fasilkom, Universitas Indonesia.</article>
            </div> 
        </div>
    </div>
</body>
</html>
